[2021-11-16 12:03] shbisson opened #1 "Not detecting HealthProtect 7770i (new AWS API issue)"
The plugin is not detecting our connected BlueAir device; I can see from the logs I am getting a token but 0 devices are detected. The device is controllable from the BlueAir app.

[2021-11-16 13:47] zioob opened #2 "rejection: TypeError: Cannot read property '1' of undefined"
Hi,

Plugin keeps crashing and restarting, please see following output in the log:

16/11/2021, 14:37:25Blueair Bridge starting
16/11/2021, 14:37:27Blueair BridgeLoaded plugin '@fjs21/homebridge-blueair'
16/11/2021, 14:37:27Blueair BridgeLoading 1 platforms...
16/11/2021, 14:37:27Blueair BridgeBlueAirbase_API_url: https://api.blueair.io/v2/user/***************/homehost/
16/11/2021, 14:37:27Blueair

[2021-11-16 22:51] tkundhi commented on #1
Same issue with HealthProtect 7470i.

[16/11/2021, 16:35:13] [BlueAir] Got homehost: api-us-east-1.blueair.io
[16/11/2021, 16:35:13] [BlueAir] x-auth-token: actual-token-removed
[16/11/2021, 16:35:14] [BlueAir] Found 0 devices.

[2021-11-21 10:57] sasojadrovski opened #3 "This plugin generated a warning from the characteristic 'PM10 Density'"
Hi @fjs21,

Thank you so much for updating this plugin and fixing some of the issues.

I just installed it yesterday, and the logs keep reporting the following warning (every 5 seconds):

I was unable to find a way to disable that characteristic in the plugin's settings, so I am reaching out to let you know about this. I hope it's something you might be able to look into.

Thanks!

[2021-11-21 20:52] Reevak05 commented on #1
I'm experiencing the same problem with two BlueAir HealthProtect 7410i purifiers. (The plugin finds 0 devices.)

[2021-11-22 01:29] fjs21 commented on #1
Thanks guys. I don't have those units so perhaps the JSON is different. I'll enable some additional debugging in the next version.

[2021-11-22 01:34] fjs21 commented on #1
Actually if you just enable debugging in the Homebridge UI, you should see a debug of the response just prior to the part when it tells you that you have 0 devices. It would be great to see that response.

[2021-11-22 02:10] fjs21 commented on #3
This should be fixed in v0.6.12. Instead you should see something in the homebridge log to let you know it was unable to find the PM10 density. Let me know if you come across other bugs.

[2021-11-22 02:10] #3 closed

[2021-11-22 02:13] fjs21 commented on #2
This is a little tricky to diagnose where the problem is triggered. This _might_ be fixed in v0.6.11+

I added some try/catch statements during the updateDevices function in platformAccessory.ts to try to catch these errors. Let me know what fi this makes a difference and if so, please post your new log.

[2021-11-22 03:16] Reevak05 commented on #1
@fjs21 I enabled homebridge debug mode and this is what I got upon restarting:
[code]
I don't, however, see the purifiers in the Home app or in the Homebridge config UI accessories tab.

[2021-11-22 03:29] fjs21 commented on #1
That last line isn't tagged with [BlueAir] so I'm not sure what that means.

Also it seems you are not seeing the line 'Found %s devices.' Or the json debug information. Very strange. Not sure what's going on.

[2021-11-22 03:54] Reevak05 commented on #1
@fjs21 I missed some of the other lines – sorry about that. Here are all the [BlueAir] messages that appeared on a server restart:
[code]
I hope that's useful. Thanks so much for your help.

[2021-11-22 06:34] zioob commented on #2
Latest log:

22/11/2021, 07:32:49Blueair Bridge starting
22/11/2021, 07:32:51Blueair BridgeLoaded plugin '@fjs21/homebridge-blueair'
22/11/2021, 07:32:51Blueair BridgeLoading 1 platforms...
22/11/2021, 07:32:51Blueair BridgeBlueAirbase_API_url: https://api.blueair.io/v2/user/zijad@begic.se/homehost/
22/11/2021, 07:32:51Blueair BridgeBridge is running on port 51846.
22/11/2021, 07:32:51Blueair Brid

[2021-11-22 21:55] fjs21 commented on #1
Ugh. Looks like the server just gave a blank response.

It could mean that the API is different for your purifier. My guess is we need to get postman to see if we can work out what is needed.

[2021-11-23 10:01] Reevak05 commented on #1
Gosh darn API. I can help if you need more information about this model.

[2021-11-23 13:39] fjs21 commented on #1
Do we you use the BlueAir app to control?

[2021-11-23 13:44] shbisson commented on #1
I do here.

[2021-11-24 23:29] sasojadrovski commented on #3
Hi @fjs21,

Thank you for looking into this so promptly. You are correct, now I see different types of logs, but I was thinking that logging the same warning every 5 seconds might be a bit too much and it pollutes the logs.

Maybe it should log it only once and then stop? What do you think?

Looking forward to hearing from you.

[2021-11-25 00:15] fjs21 commented on #3
Oh. Sure, I can just move it to debug rather than info.

[2021-11-27 22:37] Reevak05 commented on #1
Yes, I do

[2021-12-06 21:16] tkundhi commented on #1
Hi Fraser, I do use the BlueAir app. I got postman installed and captured some of the API data. How best to share it with you?

[2021-12-10 00:30] Teone55 opened #4 "this.blueair.devices is not iterable (API issue)"
I have an error with continuous reboot:

TypeError: this.blueair.devices is not iterable
    at BlueAirHomebridgePlatform.discoverDevices (/usr/local/lib/node_modules/@fjs21/homebridge-blueair/dist/platform.js:73:43)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

[2021-12-10 00:48] fjs21 commented on #4
Can you enable debugging in the homebridge UI and see what is being reported when the device list is queried from BlueAir? It will be immediately after the "x-auth-token" log.

[2021-12-10 00:54] fjs21 commented on #1
Well. We are looking for requests to the BlueAir API. The request the provides a JSON of the devices on the account. For my Classic, the address defined as follows:

so something like "https://api-us-east-1.blueair.io/v2/owner/username/device"

For your devices, this returns a blank response. So maybe a variation on this is sent when the BlueAir app first contacts the server on startup. Maybe post

[2021-12-10 09:58] Teone55 commented on #4
[10/12/2021, 10:57:19] [BlueAir] x-auth-token: eyJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6Im1hdHRlby5jYWNjaWFAZ21haWwuY29tIiwianRpIjoiMjhhZTk3YmQtMmFiNy00MDNhLTk1ZWItZTY1ODFlYmM5NjJmIiwiZXhwIjoxNjcwNjY2MjM5MTQxLCJleHBpcmF0aW9uRGF0ZSI6MTY3MDY2NjIzOTE0MX0.5orQyixr0g9dGZqo6_iIyUrqQ2xMiqL-T3wCt6tPCco
[10/12/2021, 10:57:19] [BlueAir] {
  message: "Can't find address for service HandshakeLab",
  propagatedExc

[2021-12-10 14:48] fjs21 commented on #4
Ok. This looks like the server returned an error message from the API request to list all the devices in your system.

To be honest, I'm not sure what is causing this. What type of BlueAir device do you have in your account? This plugin has only been tested with the Classic series (280i and 680i). I know there are issues with HealthProtect modes, see #1.

Please doublecheck the settings to make su

[2021-12-10 15:00] fjs21 commented on #2
So the code appears to be working correctly and reporting the error appropriately. However, it doesn't look like the plugin continues to function as intended. I need to report the error to the user once and then 'disable' this part of the code gracefully so that the plugin continues to function without this functionality (which is not essential).

I will try to take a look this weekend.

[2021-12-10 18:25] Teone55 commented on #4
I have BlueAir Classic 205.

Let me know if you need something else (log, debug, tests, etc)

[2021-12-11 08:58] motaker commented on #4
Hi, I have 480i and 205. It seems have same error caused by 205.

[2021-12-11 09:23] Teone55 commented on #4
Let me add one thing that maybe could help: with the previous plugin (from mylesgray, that I know is one of your sources) my 205 worked perfectly until some weeks ago.

[2021-12-11 10:35] fjs21 commented on #4
Which BlueAir server are you going to? It should be on a previous line in the log.

Mine is: api-us-east-1.blueair.io

I was reading that 503 can mean "service unavailable". I just want to see if this is server or account specific issue.

[2021-12-12 15:22] tkundhi commented on #1
Here is the postman JSON. I removed email and tokens. Let me know if you need something else and I'll try to gather it.

[BlueAir Collection.postman_collection.json.TXT](https://github.com/fjs21/homebridge-blueair/files/7698997/BlueAir.Collection.postman_collection.json.TXT)
.

[2021-12-13 05:01] lensherm commented on #2
@fjs21 , just a shot in the dark, but I have a theory here. Up till now I only had a 480i, which was working just fine. Today I added a 605, which resulted in similar symptoms as above. After doing a little bit of poking around the logs, but not the source, I'm wondering if you are attempting to parse temp, humidity, etc values for all devices, because AFAIK, the non "i" purifiers don't have those

[2021-12-13 11:30] Teone55 commented on #4
Got homehost: api-eu-west-1.blueair.io

[2021-12-19 18:10] lensherm commented on #4
@fjs21 , I posted this in another issue, but I have a feeling they might be related. Take a look at this, when you get a chance:

https://github.com/fjs21/homebridge-blueair/issues/2#issuecomment-992112073_

[2021-12-22 16:14] nrosier commented on #2
505 here and same issue so indeed, could be related to trying to read non-existing sensors.

[2021-12-23 00:36] fluffyx commented on #1
I have a Blueair DustMagnet 5440i, and it exhibits this same issue with this Homebridge plugin.

I'm happy to help debug and/or provide remote access if you think it'd help develop this plugin further.

When the purifier view is opened in the app, a request like this is made:

[code]

with a detailed response:

[code]

And when I adjust the fan speed, it looks like this:

[code]

with a simple suc

[2021-12-24 06:04] deanlyoung commented on #2
It's definitely the reading non-existent sensors. I have a Classic as well, and the code breakpoints are referring to the sensors.

[2021-12-29 11:28] lensherm opened #5 "Is the development of this plugin abandoned?"
Just curious if there will be further updates to this plugin.

[2021-12-29 12:00] fjs21 commented on #5
Yeah. Just been super busy over the holidays.
________________________________
From: lensherm ***@***.***>
Sent: Wednesday, December 29, 2021 6:28:38 AM
To: fjs21/homebridge-blueair ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [fjs21/homebridge-blueair] Is the development of this plugin abandoned? (Issue #5)

Just curious if there will be further updates to this plugin.

—
Reply to this email

[2021-12-29 19:16] #5 closed

[2021-12-29 19:45] fjs21 commented on #2
It should be fixed now in v0.6.14. I added a flag that is set when you first start up the accessory. If the accessory generates an error when trying to run getDeviceDatapoint then it should switch off that functionality on subsequent updates. Let me know how it turns out as I don't have this issue with my 280i and 680i.

[2021-12-29 19:52] fjs21 commented on #4
The "iterable" error just means the format of the response from the server is not in the format expected by the code. For #2, this is due to the absence of the datapoint functionality hence a blank data response which triggers the error. In this case, the error is generated because the response isn't JSON formatted at all - and instead just an error message from the server.

This one is very trick

[2021-12-29 19:58] fjs21 commented on #1
Yeah. This could help a lot. I'm just starting to look this over now. The API looks completely different based on @fluffyx CURL.

[2021-12-29 20:12] fjs21 commented on #1
Thanks. It looks like the URL for your device is much more similar to mine. The same homehost url - api-us-east-1.blueair.io - and general structure.

I am ignoring the "outdoor" ones which I think is for the stuff in the app based on the ZIP code.

I see the device request. Which is name: "https://api-us-east-1.blueair.io/v2/owner/removed@emaildomain.com/device/"

But the response is blank...?

I

[2021-12-29 20:12] Bubbgump209 commented on #1
I suspect these are all part of the Accenture IoT deal this a totally different API and likely different backing infrastructure etc. : https://newsroom.accenture.com/news/accenture-helps-blueair-raise-manufacturing-productivity-and-add-new-services-to-its-connected-air-purifiers.htm

[2021-12-29 20:14] fjs21 commented on #1
Wow! Good find. This looks highly likely for the newer devices.

[2021-12-29 20:16] lensherm commented on #5
Got it. Thanks for your work on this.

[2021-12-29 20:27] deanlyoung commented on #2
I'll try and create a PR later, but there are still some breakpoints unaccounted for.

`blueair-api.ts:188:38`
`platformAccessory.ts:131:51`

[code]

I think there will still be an issue when initializing platform accessories in:

[2021-12-29 20:28] lensherm commented on #2
I just updated and here's what I'm getting in the logs:
`s:131:51)
    at listOnTimeout (node:internal/timers:557:17)
    at processTimers (node:internal/timers:500:7)
[12/29/2021, 3:21:52 PM] Got SIGTERM, shutting down Homebridge...
[12/29/2021, 3:21:52 PM] TypeError: Cannot read properties of undefined (reading 'tmp')
    at Timeout._onTimeout (/homebridge/node_modules/@fjs21/homebridge-blueair/

[2021-12-29 20:28] fjs21 commented on #1
@fluffyx - could you post how you got that information? perhaps the other users of the HealthProtect can post their info? My guess is the "52e8534b-d958-4c20-8c2c-b631e94ab0af" is a device ID. You sensibly redacted the authorization part of the header.

Looks like "/r/initial" or "/a/fanspeed" are the _commands_ - maybe something like "read initial", "action fanspeed"

We would like need to find o

[2021-12-29 20:30] lensherm commented on #2
I update and am getting this in the log

[12/29/2021, 3:22:02 PM] [HB Supervisor] Starting Homebridge with extra flags: -I -P /homebridge/node_modules
[12/29/2021, 3:22:02 PM] [HB Supervisor] Started Homebridge v1.3.9 with PID: 1980
[12/29/2021, 3:22:03 PM] Loaded config.json with 0 accessories and 2 platforms.
[12/29/2021, 3:22:03 PM] Loaded 3 cached accessories from cachedAccessories.
[12/29/202

[2021-12-29 20:38] deanlyoung commented on #2
I'll try and create a PR later, but there are still some breakpoints unaccounted for.

`blueair-api.ts:188:38`
`platformAccessory.ts:131:51`

[code]

I think there will still be an issue when initializing platform accessories in: platformAccessory.ts
lines: 14-17
and if those aren't loaded, then other lines that update those sensor accessories would need to be avoided. Is there a way to dynamicall

[2021-12-29 20:50] fluffyx commented on #1
To get the info I posted above, I used Proxyman on macOS with my iPhone proxied to Proxyman.

1. I think this might be part of the answer?
`GET /v2/user/blueair@fluffyx.com/homehost/ HTTP/1.1
Host: api.blueair.io
Accept-Encoding: gzip, deflate, br
Accept: application/json;charset=UTF-8
X-API-KEY-TOKEN: [redacted]
User-Agent: Blueair/58 CFNetwork/1327.0.4 Darwin/21.2.0
Accept-Language: en-US,en;q=0

[2021-12-29 21:01] fjs21 commented on #2
yeah that's a good idea. for now I've just published another version v0.6.16 which may minimize the errors.

[2021-12-29 21:02] fluffyx commented on #1
Some of this stuff, especially the login process and token generation, are a bit complex for me. I can tell you that the tokens eventually expire. If I replay a fan control command, it works now, but if I try the same token again tomorrow, it has expired.

If you think you want to do something useful with it, @fjs21, I'd be happy to provide remote access to my DustMagnet 5440i.

[2021-12-29 21:31] fjs21 commented on #2
Ok. Let's try version 0.7.

I made a new platformAccessory type for the classic devices without sensors. Please report your type and I will patch to assign the device type to the correct accessory.

[2021-12-29 22:45] deanlyoung commented on #2
Brilliant solution! That's way cleaner than what I was imagining. Gives me some idea for my own plugin.

Now for capturing more models... 🤔

[2021-12-30 02:47] fjs21 commented on #1
@fluffyx, I was able to use my credentials to login (step 2) above using the plugin code. However, I need to find in the response from this - the parts I need to pass onto the next step.

Looking over the response, I don't see "idtoken" or "Authorization" but perhaps by searching in your response you can find them?

[2021-12-30 03:13] fjs21 commented on #1
I made a pre-release v0.8.0 which should allow folks to login to the AWS-based API. Hopefully, the next step will be working out which values in that response are needed.

[2021-12-30 13:32] tkundhi commented on #1
Hi Fraser, I’m away until early January. I don’t recall see the URL posted by @fluffyx.

I did get the “outdoor” responses too. I simply ignored them when creating the file.

Tarun Kundhi
Sent while mobile

On Dec 29, 2021, at 3:12 PM, Fraser Sim ***@***.***> wrote:

﻿
Here is the postman JSON. I removed email and tokens. Let me know if you need something else and I'll try to gather it.

BlueAir C

[2021-12-31 15:56] #2 closed

[2021-12-31 16:04] fjs21 opened #6 "Please post your model & capabilities"
Hi,

I have enabled the use of the BlueAir model defined from _info.compatibility_ to determine the capabilities and initialize the correct accessory type.

e.g. 'classic_280i' has temperature/humidity/air quality sensors
while 'classic_605' has no sensors

Currently the following three models are recognized:

'classic_280i' = temp/hum/air quality sensors
'classic_680i' = temp/hum/air quality sens

[2022-01-01 15:45] lbcastro commented on #6
Hi

Thanks a lot for developing this plugin.

My device is recognized as 'classic_405'. Here's the product page:
https://www.blueair.com/en-hk/air-purifiers/classic-405/global-1599.html

TLDR capabilities list: Wifi enabled, 3 speed settings, no air sensors.

Thanks and happy new year!

[2022-01-01 17:08] fjs21 commented on #6
Added in v0.8.2

[2022-01-03 01:07] lensherm commented on #6
I think the "i" models have sensors and the non "i" do not. In either case, my 480i has temp, humidity, air quality, voc, etc.

[2022-01-03 15:41] fjs21 commented on #6
Thanks @lensherm. I have added 'classic_480i' to the list of supported devices. See v0.8.3.

[2022-01-03 19:26] lensherm commented on #6
Thank you @fjs21

Now all seems to be working, in terms of the data from the accessories being populated and able to be controlled.

I'm seeing the below in the log:

===============================================================

[1/3/2022, 1:46:17 PM] [HB Supervisor] Restarting Homebridge...
[1/3/2022, 1:46:17 PM] [HB Supervisor] Starting Homebridge with extra flags: -I -P /homebridge/node_modu

[2022-01-03 19:32] lensherm commented on #6
On a related note, the "i" series purifiers I've seen so far have an optional Auto fan mode, which controls the fan speed, based on detected particulates. If you'd like, I can see if I can use Node Red to capture relevant data while activating and deactivating the Auto mode, if that would be helpful.

[2022-01-03 21:22] fjs21 commented on #6
Yes. Auto mode is already supported in the current version. You can see set Auto by setting "Mode" to Auto. Child lock is also supported as well.

Note: the time out errors are sporadic and seem to be related to the API used by BlueAir. I could setting longer time outs but we would get errors from Homebridge/Homekit.

[2022-01-03 21:24] #4 closed

[2022-01-03 22:43] canerdianeh commented on #6
classic_580i and classic_505 here.

[2022-01-03 22:46] fjs21 commented on #6
Hi @canerdianeh, I assume the 580i has sensors and the 505 has no sensors?

[2022-01-03 22:47] canerdianeh commented on #6
I believe that is correct.

[2022-01-03 22:51] canerdianeh commented on #6
On a completely unrelated note, would you be interested working with me in building a HB plugin for the Tempest weather station? It makes its data available via UDP broadcast… I’ve done some code to listen to this in python, but I’ve got no experience with node or making a HB plugin.

[2022-01-04 02:32] fjs21 commented on #6
Support for "classic_580i" and "classic_505" added ib v0.8.4.

[2022-01-04 02:34] fjs21 commented on #6
I'm always happy to help. I suggest you join the Discord channel for homebridge and post your questions there. I found the community is very helpful. Looking at existing plugins and the recommended plugin template helped me a lot when I was getting started.

[2022-01-05 19:42] motaker commented on #6
Hi, please add classic_205 (without sensor model).

[2022-01-05 22:11] fjs21 commented on #6
Support added in v0.8.6

[2022-01-07 02:00] canerdianeh commented on #6
Excellent... can confirm it works on the 580i - and it is even showing a CO2 sensor that even the native app lacks...

[2022-01-07 11:56] avis commented on #6
Hi there!
LivingRoom of type "sense+" initialized.
[BlueAir] LivingRoom: device type not recognized, contact developer via GitHub.
Let me know if there's a way to get capabilities.
Thanks!

[2022-01-07 17:01] fjs21 commented on #6
I added "sense+" as a classic type device. This supports setting the device fan speed and on/off but does not have sensors (temp, air quality, humidity).

[2022-01-10 20:04] ayame-q commented on #6
Hello!
Can you please add "classic_290i" with temp/hum/air quality sensors?
Thank you.

[2022-01-10 20:10] fjs21 commented on #6
Added in v0.8.8

[2022-01-15 16:39] ghazel commented on #6
[1/15/2022, 8:13:19 AM] [BlueAir] Sniffy of type "aware" initialized.
[1/15/2022, 8:13:19 AM] [BlueAir] Sniffy: device type not recognized, contact developer via GitHub.

BlueAir Aware has PM 2.5, VOC, CO2, temperature and humidity.

The old bluerair plugin still kinda works with this device type.

[2022-01-16 18:37] fjs21 commented on #6
Added in v0.8.9

[2022-01-16 20:51] ghazel commented on #6
Thank you!

A few minor things:

 - This prints `Sniffy: no filter_status found.` a lot (the Aware has no filter), but that seems to be harmless.
 - It's a little strange that I can't change the Room setting for the Humidity or Temperature sensor, but I can change the Room for the Air Quality sensor, which changes the others. Not a big deal (obviously the device can only be in one room), but on ot

[2022-01-21 16:39] buczo23 opened #7 "Missing/wrong readings?"
Hi there, as per subject:
 This plugin generated a warning from the characteristic 'PM2.5 Density': characteristic was supplied illegal value: number 1509.086 exceeded maximum of 1000. See https://git.io/JtMGR for more info.

My Blueair model is Classic 280i, how I can help in solving this issue? :)

[2022-01-21 19:15] Soulphalanx opened #8 "Error message: device type not recognized for BlueAir 505 Classic"
This is what I see after the user authorization logs (tokens obscured):

[1/21/2022, 11:13:02 AM] [BlueAir] AWS idtoken: xxxxxxxxxxxx
[1/21/2022, 11:13:02 AM] [BlueAir] AWS authorization: xxxxxxxxxxxx
[1/21/2022, 11:13:03 AM] [BlueAir] { message: 'Unauthorized' }
[1/21/2022, 11:13:03 AM] [BlueAir] Restoring existing accessory from cache: BlueAir 505 Classic
[1/21/2022, 11:13:03 AM] [BlueAir] BlueA

[2022-01-21 19:46] buczo23 commented on #8
Same here, "{ message: 'Unauthorized' }" my model is Classic 280i.

[2022-01-22 12:43] fjs21 commented on #7
I can hide the error if needed. It seems that HomeKit cannot handle values greater than 1000, and I can just have it set anything reported as >1000 as 1000. However, before I do that, could you check in the BlueAir app that the value for PM2.5 is indeed accurate.

[2022-01-22 12:44] fjs21 commented on #8
Please ignore the {unauthorized} part. It has to do with my development of the AWS-based API. I'll patch and move this to debug so it doesn't confuse folks.

Does the BlueAir 505 Classic have any sensors?

[2022-01-22 13:10] #8 closed

[2022-01-22 13:30] fjs21 commented on #7
Fixed in v0.8.11

[2022-01-22 13:30] #7 closed

[2022-01-22 19:00] fjs21 commented on #6
I’ll have to code a new sensor only accessory. Can you tell me what capabilities it has? Air quality, humidity and temperature. Anything else?

[2022-01-22 19:09] ghazel commented on #6
PM 2.5, VOC, CO2, temperature and humidity. Oh, and an LED.

[2022-01-23 02:22] fjs21 commented on #6
Thanks. This should be addressed in v0.9. I added a new accessory type which includes the sensors but strips out the air purifier and filter maintenance services from the accessory. Let me know if it works and if you are getting any warnings/errors in the log. I can't test fully as I don't have this type of device.

[2022-01-23 15:01] buczo23 commented on #7
@fjs21 definitely there was something in it, as app showed proper levels, but the device by themself had orange light around PM2.5 indicator. After classic turn off/on everything seems working correctly.

[2022-01-27 08:03] alloploid commented on #1
Hi,
Aby update here? Can I help somehow?

[2022-02-10 14:58] yuboliu opened #9 "please support Blueair model 380i"
[code]

Postman I use occasionally and I can work with the test API。

[2022-02-28 19:54] ndlaham opened #10 "Can homebridge/homekit get instant feedback when operating unit physically?"
Nitpicking here, but I noticed if you turn it on or off, or change the speed of the purifier on the unit itself, the Homekit app will not update the state of the machine unless you force close the Home app and then reopen it, forcing a state refresh from the app I presume. It's usually not a big deal for me because if I'm walking up and physically pressing the Blueair switch on the unit, then I wo

[2022-03-06 22:11] KirkDahl commented on #1
Hi, I have the Blueair DustMagnet 5440i just like @fluffyx. I'm crossing my fingers support gets added for this model! I'm not much of a coder so I probably can't contribute anything meaningful, but I'm here to support however I can!

[2022-03-07 15:18] fjs21 commented on #1
Let me see how things were left in the current version. If you guys are interested in helping, I would need you to post/send me some details of the response you get when the AWS login is completed (immediately after homebridge starts and the plugins initialize). I'll post instructions once I have reviewed the current code and made necessary changes.

[2022-03-07 16:35] fjs21 commented on #1
I'll need to make some changes so look out for a new version. You will also need to enable debugging in Homebridge to attempt to connect to the AWS API. I should have sometime tonight to implement the changes and publish a new version.

[2022-03-08 02:28] fjs21 commented on #9
Support added in v0.9.3

[2022-03-08 02:28] #9 closed

[2022-03-08 02:34] fjs21 commented on #10
I don't think we can get instant updates as we have to poll the BlueAir API to get the status of the device. If we send too many requests to their servers, the connection will get blocked. Currently the time out is set to 5 seconds to avoid too many time out errors.

[2022-03-08 02:34] #10 closed

[2022-03-08 02:41] fjs21 commented on #1
So version 0.9.2+ contains a new setting in the config panel to "enableAWS". This will currently just send a request to the AWS server. You will see a response in your log at startup.

What I need is for someone with these devices to run a postman to capture which of these variables is being sent during login to get a list of the devices that is associated with the account.

Basically how to go fr

[2022-03-08 18:41] KirkDahl commented on #1
[code]

[2022-03-09 15:06] fjs21 commented on #1
Thanks! So the response on login does not provide the idtoken that we will need to make a request to get the list of devices. I looked on the AWS API website - which is what it looks like this is using. Here's a link: https://docs.aws.amazon.com/en_us/search/doc-search.html?searchPath=documentation-guide&searchQuery=idtoken&this_doc_product=Amazon%20API%20Gateway&this_doc_guide=Developer%20Guide#f

[2022-03-11 21:59] KirkDahl commented on #1
I think this of one of the first requests made. Is there anything of use in here?
[code]

Response:
[code]

[2022-03-21 02:19] PeytonRG commented on #1
I recently got a DustMagnet 5240i and could try to provide any info you need to help move forward with support for these

[2022-03-26 15:26] buddyrich33 opened #11 "PM2.5 reading is constantly 1000?"
Just got a Classic 280i and installed this plugin.

Not sure if its related to issue #7 but my PM2.5 reading is constantly 1000...  Not sure if that is accurate or not but the app has it as 0 and is excellent AQ (blue)... as far as I know 1000 ug/m2 is crazy high for PM2.5.  On the other hand PM10 density matches the app at 0.

[2022-04-06 16:23] jonato1 commented on #1
Hi @fjs21 - please see the pull request above. There is definitely still work to be done, but I wanted to send that over to see if it sparks some additional thoughts/collaboration. I'll see if I can spend some time over the next week to dig into it a bit more in terms of actually detecting the devices and starting to control them.

[2022-04-06 16:44] fjs21 commented on #1
Thanks! I hope that once we have the login sorted out it should be straightforward to have commands dealt with in a similar manner. We can make a new set of accessories that talk to the AWS portion of the API code using similar approaches to the original.

[2022-04-06 21:59] jonato1 commented on #1
Hi all - I think I've mapped all of the various transactions as a Postman Collection. All you should have to do is import it into Postman, and then fill in your username and password variables locally and run the API requests in order.
https://www.getpostman.com/collections/9f7153170757ec6e2f19

[2022-04-07 16:32] jonato1 commented on #1
@tkundhi Can you try importing the Postman collection I linked to above and see if it works for your HealthProtect?

@KirkDahl @PeytonRG It looks like you both have other versions of DustProtect - I assume the API endpoints work the same as mine (5210i) does, but if you are familiar with using the Postman application, let me know if it does indeed work or not.

[2022-04-07 20:38] PeytonRG commented on #1
@jonato1 My 5240i is basically an identical product to the 5210i but with fabric on the sides. I imported your collection, ran through all the commands and they worked flawlessly! Awesome work!

[2022-04-09 22:17] tkundhi commented on #1
@jonato1,  imported and successfully ran the collection. It reports back a device. I've saved the Get Devices and Get State responses. Let me know if you need them. All the Service requests came back as "Success"

Thanks for making it easy to test locally. I don't use Postman regularly and didn't keep notes on how I set it up to do my previous tests, so I haven't had time to go back and reconfigur

[2022-04-10 02:45] jonato1 commented on #1
@PeytonRG That is great to hear - thanks for confirming.

@tkundhi Likewise, this is great to hear! If you can send over the response from "Get Devices" and "Get State", I think that could be helpful to review.

@fjs21 - I found myself pretty excited to get back into the habit of coding this week, so see the PR above. Definitely still in a rough draft, but I would consider this an alpha release. F

[2022-04-10 17:53] tkundhi commented on #1
@jonato1 here are the responses.

get devices response.json
{"devices":[{"name":"5238ff11-c83b-4c48-a22f-1642df3388a2","wifi-firmware":"2.2.23","mcu-firmware":"1.0.26","type":"G4","uuid":"1f82bd45-a605-4ae2-8fa8-ae8c55b2ab85","mac":"7c:9e:bd:d1:8c:74"}]}

get state responses.json
{"appConfig": {}, "identityconfig": {}, "deviceInfo": [{"id": "1f82bd45-a605-4ae2-8fa8-ae8c55b2ab85", "configuration":

[2022-04-10 18:15] jonato1 commented on #1
Awesome, thanks @tkundhi! I just added support for the HealthProtect (updated the case statement) in my latest commit, which is included in the PR above.

https://github.com/fjs21/homebridge-blueair/pull/13/commits/b024d88e53025ae7e702d669731d2c7f78d920d0

A few outstanding questions if you can provide insight, and also play around with running the "Get State" while the HealthProtect is turned on,

[2022-04-10 19:17] Bubbgump209 commented on #1
@jonato1 Germshield essentially puts the fan on super low and (to the best I can figure) a plasma charger (likely an ionizer like [here](https://www.popularmechanics.com/science/health/a7579/plasma-flashlight-destroys-bacteria-7865901/)) to in theory break up virus/bacteria cell walls. I personally would find it useful to have a toggle available.

[2022-04-11 04:28] jonato1 commented on #1
@Bubbgump209 Sounds good - I'm coding in the dark, but I think I got initial support added for it here: https://github.com/fjs21/homebridge-blueair/pull/13/commits/a270f4461a749dc742c3abf251b159a1302e9f89. That said, I can't test, so I wouldn't be surprised if there might be an error thrown somewhere. Once this makes it into a version that you can test, feel free to communicate any issues.

[2022-04-14 17:44] fjs21 commented on #1
Hi all, I just published v1.0.1 which includes @jonato1's contributions. Please post your results here.

[2022-04-14 17:58] shbisson commented on #1
Sadly it's crashing Homebridge:

TypeError: Cannot read properties of undefined (reading 'sessionToken')
    at BlueAirApi.awsLogin (C:\Users\Administrator.THEFIRESWAMP\AppData\Roaming\npm\node_modules\@fjs21\homebridge-blueair\src\blueair-api.ts:489:44)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at BlueAirHomebridgePlatform.discoverDevices (C:\Users\Administrato

[2022-04-14 17:58] A-vesalius commented on #1
Thanks for all the work to all. I have a DustMagnet 5410i login looks like it's working, but not seeing the accessory yet. These are the logs from startup:
`     'wifi-firmware': '2.2.23',
      mac: 'c4:dd:57:7f:36:94',
      name: '52457c8f-bcf2-4ae4-b7e0-5333b0c8aba7',
      type: 'B4',
      uuid: '17827a8e-0971-468b-9623-aa495a0573e4'
    }
  ]
}
[4/14/2022, 12:51:45 PM] [@fjs21/homebridge-bl

[2022-04-14 18:09] fjs21 commented on #1
@jonato1 minor note. Looks like it is trying to enumerate devices twice.
[

[2022-04-14 22:06] jonato1 commented on #1
@fjs21  Thanks for the heads up and the fix. I'm curious on the break of the case statement on [line 341](https://github.com/fjs21/homebridge-blueair/commit/467632340531e2fd1bcf0b41bc841a0fe84f3249#diff-8260ea6250f2a0f124153ffb1bddae058191ea4e8baf1de5d4746083f6c44d81R341) - did you see something that indicates the DustProtect isn't supported? The reason I ask is because that is the model I have an

[2022-04-14 22:09] jonato1 commented on #1
@shbisson @A-vesalius Would you both be able to try the following?
1.  Update to the latest version.
2. Enable debug mode in Homebridge, restarting, and then pasting your logs again? (Click the three dots in the top right >  Homebridge Settings > Startup Options > Toggle on "Homebridge Debug Mode -D".

Thanks for the quick feedback!

[2022-04-14 22:43] fjs21 commented on #1
My bad. I did not notice the lack of the break... I'll fix and commit now.

[2022-04-14 23:01] jonato1 commented on #1
@fjs21 No worries - I just actually enabled some extra logging that I had commented out. I also fixed the case statement. Feel free to pull and update further as needed. Thanks!

[2022-04-14 23:05] PeytonRG commented on #1
@jonato1 Also failing with a TypeError on an undefined property with my DustMagnet 5240i, and causing HomeBridge to restart in a loop. Logs below
[code]

[2022-04-14 23:43] jonato1 commented on #1
@PeytonRG  Thanks for the logs! Should be fixed with the last commit https://github.com/fjs21/homebridge-blueair/pull/16/commits/8eaa935672e4a38eb7c2a7d0844c22e9b79716f3, so standby for a new version shortly.

[2022-04-15 01:07] A-vesalius commented on #1
@PeytonRG are you using homebridge UI and separating plugins with child bridges? So far this has kept homebridge from crashing under similar circumstances for me and makes restating one plugin a lot easier.

@jonato1  looking forward to trialing the new version.

[2022-04-15 02:50] PeytonRG commented on #1
@A-vesalius No but I was able to just disable the blueair plugin and get it back into a working state without any trouble.

[2022-04-15 02:53] A-vesalius commented on #1
Updated to latest and still not getting a usable accessory so far.

[code]

[2022-04-15 03:04] jonato1 commented on #1
@PeytonRG @shbisson Looks like @fjs21 was able to publish a new version (1.0.2) to npm. Let me know how things look once you update.

@A-vesalius Looks like this is due to the model # in the API reading slightly different. This should be fixed in the next release. Thanks for your patience; kinda coding in the dark a bit since the API documentation from Blueair is a bit non-existent.

[2022-04-15 03:04] PeytonRG commented on #1
On 1.0.3 it's working for me now with the 5240i. I'm able to turn on/off, control LED brightness, fan speed, and toggle night mode. One thing I'm noticing though is that turning night mode off resets fan speed to 1. I know setting a schedule for night mode returns it back to the previous setting once the time is up. In my case that's auto. It would be cool if you could somehow track the previous s

[2022-04-15 03:07] PeytonRG commented on #1
Only other thing I noticed is that there's an excessive amount of logging while Homebridge debugging is disabled, which might be something to bring up to @fjs21. Great work!

[2022-04-15 03:08] A-vesalius commented on #1
@jonato1 nothing but thanks for your work.

[2022-04-15 03:09] jonato1 commented on #1
This is great news, Peyton! That would be interesting to store the previous setting and then restore it. In the meantime, the Auto mode should be surfaced in HomeKit. Try the following to see if it works for you:
1. Go to Home.app >  click on Air Purifier > click on Setting gear in bottom right >  Click Accessories > Show the controls for the Air Purifier, and find the "Auto" vs. "Manual" mode tog

[2022-04-15 03:11] PeytonRG commented on #1
Ok yes I was looking on the parent tile instead of that. It's working for me! I ought to be able to automate that @jonato1

[2022-04-15 03:12] jonato1 commented on #1
Definitely a great point - that is one of the TODO items for sure. I figured I would try to heir on more logging for now given the "coding in the dark" situation of not knowing what the Blueair AWS APIs might return differently between different models. My logs are a mess, so I definitely don't want to extend that to too many people for too long. @fjs21 Would love to partner with you on this to un

[2022-04-15 03:15] PeytonRG commented on #1
Just tested out a leave/arrive automation to turn it off/back on at auto and it worked perfectly. Cannot thank you enough for this!

[2022-04-15 03:22] fjs21 commented on #1
One thing you can do - is change the verbose log (JSON) commands in the blueair-api.ts (and elsewhere) from  'this.log.info' to 'this.log.debug'. This way a user can only see these if they turn on the full logging using the Homebridge UI.

Having said that, I think while AWS support is still being actively worked on having more rather than less logging is useful.

Last, make sure you always "info"

[2022-04-15 03:27] jonato1 commented on #1
@A-vesalius v1.0.4 is hot off the press - let me know if it works (I'm hoping it does!) If not, please include logs and I'd be happy to troubleshoot with you.

Best,
Jon

[2022-04-15 03:28] A-vesalius commented on #1
with 1.0.4 my slightly different DustMagnet 5410i device ID  is up and running thanks much.

[2022-04-15 03:43] jonato1 commented on #1
@Reevak05 @tkundhi @Bubbgump209 @shbisson I believe you all have the HealthProtect purifier, but varying models. Let me know how v1.0.4 goes for you all. Please share the logs if you have any issues - I foresee there will be at least one hardware model that I missed.

Thanks!

[2022-04-16 15:33] PeytonRG commented on #1
As of this morning I'm getting a new error
[code]

[2022-04-17 03:37] jonato1 commented on #1
@PeytonRG if you restart Homebridge, does the issue resolve itself temporarily?

If so, I think this may have to do with the Access Token expiring...if I'm right, I'll have to revisit login logic to either use the refresh token to get a new access token, or completely restart the logging to get a new JWT and in turn a new access token.

[2022-04-22 04:08] Phunkadilic commented on #1
Would it be possible to add support for the Health Protect 7710i?  The latest version gets the tile to show up in HomeKit but says the accessory is not supported. If you need any more information (logs, etc…), please let me know.

[2022-04-23 17:42] jonato1 commented on #6
@Phunkadilic Can you please post your logs for your Health Protect 7710i? Specifically, I'm looking for something like this...
`This device is not yet supported. Device Type:`

[2022-04-23 19:03] jonato1 commented on #1
@PeytonRG I think I finally ran into the same issue that you did. Restarting homebridge worked as a temporary fix, but I'm going to open up a new issue to track this.

[2022-04-23 19:07] jonato1 opened #18 "AWS Access Token Expires, causing 403 Forbidden responses"
First reported here by @PeytonRG: https://github.com/fjs21/homebridge-blueair/issues/1#issuecomment-1100690050

What We Know
- During the login process, the JWT is used to fetch an Access Token and Refresh Token.
- The Access Token expires after 24 hours

What We Don't Know
- How long it takes for the Refresh Token to expire
- The AWS endpoint used to validate and/or rotate Access and Refresh Toke

[2022-04-23 19:22] Phunkadilic commented on #6
@jonato1, no problem!  If you need the full log, I can paste that as well.  For now, here is the line you requested: `This device is not yet supported. Device Type:  low_1.4`

[2022-04-23 20:35] tkundhi commented on #1
@jonato1 , I finally got a chance to check out the latest release. Overall it is working but I too have some errors.

[23/04/2022, 15:26:28] [BlueAir] Response Body for Initial Call:  undefined
[23/04/2022, 15:26:28] [BlueAir] Odin: getDeviceInfo error. TypeError: Cannot read properties of undefined (reading '0')
    at BlueAirApi.getAwsDeviceInfo (/usr/local/lib/node_modules/@fjs21/homebridge-blu

[2022-04-23 21:01] jonato1 commented on #1
@tkundhi Thanks for the update! those logs definitely seem similar to what Peyton shared. I created #18 to track that issue.

Can you clarify what you are referring to in the logs here? Is it the **platformAccessory_DustProtect.ts** in the logs? If so, that is purely a naming convention that I need to change - definitely technical debt on my end.

As for the the turning the unit back on, I want to

[2022-04-25 00:54] PeytonRG commented on #18
When this happens, would it be feasible to just login with the provided credentials again to get fresh tokens. I think that could at least be a mitigation until the "correct" way is figured out.

[2022-04-25 03:46] jonato1 commented on #18
@PeytonRG I'm testing this exactly locally on my NAS for the next 24 to 48 hours. If it looks like it's viable, I'll be submitting a PR shortly thereafter while we figure out how to properly rotate the tokens.

[2022-04-25 22:27] jonato1 commented on #6
@Phunkadilic v1.0.5 should be out - let me know if your HealthProtect 7710i is working now or if you see any issues.

[2022-04-25 23:07] Phunkadilic commented on #6
@jonato1, sweet!  Both 7710i purifiers are now showing in HomeKit with the AWS option box checked. Thanks a ton!  I have a couple questions… is there a feature list I can use to add features or are all available features available. Mainly, is there a way to run “auto” mode from HomeKit?

Secondly, what’s the easiest way to donate to this project. It seems you’ve maybe taken over for fjs21?  I want

[2022-04-25 23:57] jonato1 commented on #6
For features, I would say you could open up "Issues" in GitHub and they can be tagged/tracked as features - that is probably the easiest way.

To enable Auto mode, do the instructions [here](https://github.com/fjs21/homebridge-blueair/issues/1#issuecomment-1099808465) satisfy what you are looking for? If not, feel free to open an issue to track.

Lastly, I appreciate the willingness to donate. I w

[2022-04-27 16:14] PeytonRG commented on #18
I just got the new update and re-enabled the plugin so I'll let you know if I run into this again.

[2022-04-28 00:30] jonato1 commented on #18
@PeytonRG Sounds good - let me know know what you find, but I think it may still be an issue. If so, I think I've got a more robust fix in place that I'm hoping to try out here soon.

Thanks,
Jon

[2022-04-29 15:23] fjs21 commented on #11
I'm seeing the same issue here as well. I'll take a look and see if I can diagnose the issue.

[2022-04-30 12:44] ztheged opened #22 "'Brightness': characteristic was supplied illegal value"
Hi, Thanks for the awesome plugin!
I'm getting a warning every 4-5 seconds from the plugin saying:

This plugin generated a warning from the characteristic 'Brightness': characteristic was supplied illegal value: number 2500 exceeded maximum of 100. See https://homebridge.io/w/JtMGR for more info.

I have 2 480i units and 1 280i configured.

The LED setting in the blueair app seems to influence th

[2022-04-30 14:54] jonato1 commented on #18
@PeytonRG just wanted to check in, especially with 1.0.7 being released. How are things looking for you?

[2022-04-30 15:26] jimbee25 commented on #6
Please can you add the Classic 690i? https://www.blueair.com/my/air-purifiers/classic-690i/global-9997.html

I believe this is just the international version of the Classic 680i sold in the US. It looks like the features are the same.

Thanks!

[2022-04-30 15:53] PeytonRG commented on #18
Haven't had any issues so far on 1.0.7 since updating a day or two ago!

[2022-04-30 15:56] PeytonRG commented on #18
After updating a different plugin that I had disabled, then re-enabling it, I did see it throw up that error in the log but it looks like it was able to self-correct this time

[2022-04-30 20:20] jonato1 commented on #18
That's great to hear - definitely this is still a temp fix, but its good to see that it's healing it on it's own now. Thanks for the update!

[2022-05-01 02:42] jonato1 commented on #22
It looks like the brightness value is being multiplied by 25 here: https://github.com/fjs21/homebridge-blueair/blob/master/src/platformAccessory.ts#L515

So if the brightness is 25%, then it would be 25*25 = 625 which seems to match with what you're seeing in the logs. It would also explain why 100% brightness is showing 2500.

I don't have a Classic, but it sounds like pending confirmation that t

[2022-05-02 14:12] fjs21 commented on #22
Maybe they changed the API on this. It used to go from 0-4 hence the scaling. I'll take a look on my Classic 280i and report back.

[2022-05-03 07:59] wgalternate opened #24 "BlueAir 7440i - Found 0 Devices"
Hi there,

I can't seem to get my two 7440i devices showing up using the latest version of the plugin. Am I meant to enable the "Enable AWS Connection" option for this?

When doing so, I am getting this error followed by the child bridge restarting

`[03/05/2022, 08:57:31] [@fjs21/homebridge-blueair] Got homehost: api-eu-west-1.blueair.io
TypeError: Cannot read property 'sessionToken' of undefined

[2022-05-03 14:05] fjs21 commented on #22
Should be fixed in v1.0.8

[2022-05-03 14:05] #22 closed

[2022-05-03 14:05] fjs21 commented on #11
Should be fixed in v1.0.8

[2022-05-03 14:05] #11 closed

[2022-05-03 14:07] fjs21 commented on #24
For the 7440i devices you will need to use AWS to connect. @jonato1 has been helping others with the Amazon API support.

[2022-05-03 14:08] fjs21 commented on #1
@jonato1 Are you ok with me closing this issue now? I think it makes more sense for users to start new issues that crop up with either the classic API or the AWS-based API.

[2022-05-03 16:20] jonato1 commented on #1
@fjs21 Yes, I'm fine with that. Thanks!

[2022-05-03 16:21] #1 closed

[2022-05-04 03:05] jonato1 commented on #24
Hi @wgalternate - I suspect this is because I made the assumption that everything was going to hit US-based APIs, however I'm don't have the full list of global API endpoints. Can you use Charles Proxy on a mobile device and identify the various endpoints that you hit? They should look similar to the ones below, but will probably switch out US for EU, or AWS for Azure.

1. https://accounts.us1.gig

[2022-05-04 08:20] wgalternate commented on #24
Hi @jonato1

Here is the list of endpoints that I'm hitting based on the ones that you specified.

https://accounts.eu1.gigya.com/accounts.login
https://accounts.eu1.gigya.com/accounts.getJWT
https://hkgmr8v960.execute-api.eu-west-1.amazonaws.com/prod/c/login
https://hkgmr8v960.execute-api.eu-west-1.amazonaws.com/prod/c/registered-devices
https://hkgmr8v960.execute-api.eu-west-1.amazonaws.com/prod

[2022-05-04 15:55] jonato1 commented on #24
@wgalternate This is super helpful! So a follow up question - are you familiar with/comfortable with using Postman? If so, can you import this collection, populate your username and password into the Environment variables, and then run through the requests from top to bottom to see if they all work? If not, feel free to paste the response outputs or any errors you get.
https://www.getpostman.com/c

[2022-05-04 18:05] wgalternate commented on #24
@jonato1 The only issue seems to be with the api key that you used with the login session. It should be this instead for the EU West server `3_qRseYzrUJl1VyxvSJANalu_kNgQ83swB1B9uzgms58--5w1ClVNmrFdsDnWVQQCl`

[2022-05-04 18:45] wgalternate commented on #24
@jonato1 Yes, everything returned a success after I swapped out the api key with the one I posted. As for the configuration.di.hw value, it gives me "low_1.4"

[2022-05-04 18:58] wgalternate commented on #24
7422371000 And this is the model number for my unit.

[2022-05-06 00:17] jonato1 commented on #24
@wgalternate Just a quick update - I think I've got everything updated to enable compatibility. Once v1.1.0 is release (likely in 1-3 days), then you will have to go to Plugin Settings and update your Region to **EU**. After that, you will need to restart Homebridge. If you run into any issues, please feel free to share logs.

Cheers!
Jon

[2022-05-06 09:28] wgalternate commented on #24
@jonato1 Thanks for the update! Looking forward to testing it out and reporting back!

[2022-05-06 18:48] fjs21 opened #27 "Can't publish 1.1.0"
Hi @Jonato1,

I'm getting the following error on publish. Looks like the object type is not allowed.

Please could you generate a PR into the master branch to fix this?

Cheers

[code]

[2022-05-06 21:22] #27 closed

[2022-05-09 01:44] PeytonRG commented on #18
I've had this happen again once on 1.0.8 where I had to restart Homebridge to get anything working again.

[2022-05-09 02:15] jonato1 commented on #18
@PeytonRG thanks for the update. I'm definitely still having trouble identifying how the tokens are refreshed. What were you seeing in the logs when you would try to control the device, prior to having to restart Homebridge?

[2022-05-09 02:49] jonato1 commented on #24
@wgalternate - Just another update. @fjs21 and I are running into issues with an intermittent error that pops up when trying to publish 1.1.0 to NPM. I'll let you know once we get this resolved.

[2022-05-09 23:06] wgalternate commented on #24
Finally got around to trying this out. Does not seem to work for me though.

`[5/7/2022, 6:51:38 PM] [@fjs21/homebridge-blueair] Got homehost: api-eu-west-1.blueair.io
TypeError: Cannot read properties of undefined (reading 'sessionToken')
    at BlueAirApi.awsLogin (/homebridge/node_modules/@fjs21/homebridge-blueair/src/blueair-api.ts:494:44)
    at processTicksAndRejections (node:internal/proces

[2022-05-10 01:03] jonato1 commented on #24
@wgalternate Thanks for the update. Can you confirm the following?
- You are on v1.1.0
- You have the Enable AWS API enabled in the settings
- You have the Region set to EU
- You have Homebridge Debug enabled

If any of the following was not done, can you retry and re-post any logs?

[2022-05-10 09:55] wgalternate commented on #24
@jonato1 Yes, everything is set as you described. Though I just realised that my account is now "temporarily locked out"! Probably due to all the broken request that was being made by the previous version of the script? The is probably why its erroring out for me. I'll wait to see if my account becomes unlocked, or create a new one and give it another go. Will report back.

[2022-05-10 10:20] wgalternate commented on #24
@jonato1 A new account worked! Everything seems to be working correctly now.

[2022-05-10 15:41] jonato1 commented on #24
That's great to hear - thanks for the update @wgalternate. I'll close out this issue, but feel free to open a new one if anything changes.

[2022-05-10 15:41] #24 closed

[2022-05-10 17:04] wgalternate opened #32 "Automode Switch"
Is there a possibility of adding an Auto Mode switch for BlueAir Health Protection devices? Similar to the switch available for the Night Mode. Or is there already a way to toggle this?

https://hkgmr8v960.execute-api.eu-west-1.amazonaws.com/prod/c/{deviceUUID}/a/automode

`{
	"n": "automode",
	"vb": true
}`

[2022-05-10 17:07] wgalternate commented on #32
Ignore this. I see it now in the Settings of the device in the Home app.

[2022-05-10 17:07] #32 closed

[2022-05-11 21:09] ulte opened #34 "TypeError: Cannot read properties of undefined (reading 'co2')"
Using v1.1.0
Correctly identifies type **"classic_280i" initialized** but keeps showing the error at bottom a number of times before HB shuts itself down with
[code]

[code]

[2022-05-12 16:08] ulte commented on #34
It's a classic 280i, which based on the app and their [site](https://www.blueair.com/us/air-purifiers/classic-280i/1885.html), doesn't show co2 as an explicit sensor. It senses PM1, PM 2.5, PM 10, tVOC, temp, humidity. Can you disable that reading for the 280i?

[2022-05-13 17:42] PeytonRG commented on #18
It's been a while and I wasn't able to copy those logs, but I believe it was the type error '0' one we've seen before. Anyway, on the latest 1.1.0 version, I've had to disable the plugin because it breaks HomeBridge with these errors.
[code]

[2022-05-13 18:15] fjs21 commented on #34
Yes. I'll put that in the next update.

[2022-05-13 18:18] fjs21 commented on #18
This looks like the gigyaRegion is not set. @jonato1 Take a look at the commit 'minor fixes' I think that should solve and will push out an update shortly.

[2022-05-13 18:18] #18 closed

[2022-05-13 18:23] fjs21 commented on #34
What's weird is I have a 280i and I don't have that issue. Regardless, I can catch this error.

[2022-05-13 18:55] fjs21 opened #36 "Lint issue again"
[code]

Hi @jonato1, I tried to publish v1.1.1 with some minor fixes but ran into this issue again. I did some googling and it appears the use of object as a type is frowned upon.

Would this work?

[code]

[2022-05-13 19:14] ulte commented on #34
I disabled and renabled the plugin and got the following errors - then did it again and got no errors. Not sure what response came back from foobot api but it seems to be ok now. Clear to close.
[code]

[2022-05-14 22:06] jonato1 commented on #36
Hi @fjs21 - I think my latest commit should fix this (hopefully once and for all). https://github.com/fjs21/homebridge-blueair/commit/1b93208b3a1b5a05721e0b2f2627f116349902b8

Let me know if it passes the lint on your end - it looks like it passed the automated checks in GitHub for the npm publish --dry-run.

Thanks,
Jon

[2022-05-16 13:10] fjs21 commented on #36
Looks good. Thanks.

[2022-05-16 13:10] #36 closed

[2022-05-27 19:34] ulte opened #46 "time outs"
Anyone else getting timeouts?
Wonder if i'm getting rate limited given there seems to be a few queries inside of 5 seconds. Where would I modify the 5 second timer?

[code]

[2022-05-28 04:35] fjs21 commented on #46
I have these issues as well. I'm guessing you have multiple devices? The issue is that every device is queried almost simultaneously and independently. This overloads the BlueAir API and you get a time out. If I introduce a delay to the requests, then Homebridge will timeout and complain that we are slowing down the server. I don't have any easy fix for this at this point in time and while it is a

[2022-06-07 19:43] ulte commented on #46
One device. Is there a cfg in a file that I can tweak the timer interval?

[2022-06-21 01:41] 9zero8 commented on #6
Any chance on support for 7470i?

[2022-06-24 10:12] robimart opened #68 "Remove brightness control?"
Hi there
Many thanks for having developed this plugin.

Hoping you can clarify where the Feature Options (as shown on WebUI) are defined? It refers to Projects page but I can’t see anything there.

Also, is possible to disable brightness control? It’s of minor importance and the brightness read-out clutters up the Home interface. In fact, it would be nicer if single-tap switched the unit on/off an

[2022-06-30 13:21] fjs21 commented on #46
I'll expose the time out interval in the settings in a future version.

[2022-06-30 13:24] fjs21 commented on #6
@9zero8 can you check the log and tell me what it says on this line:

[2022-06-30 13:25] robimart commented on #68
Ah, hadn’t realised it’s a grouped accessory! Ungrouping has addressed most of points I raised. Thank you.

[2022-07-11 03:19] 9zero8 commented on #6
@fjs21 It does not say anything like that.  It looks like it connects, it gets a host name then ends with "Blueair BridgeBlueAirFound 0 devices."

[2022-07-22 18:57] w194 opened #91 "Option to remove the CO2 sensor"
Hello there,
could you please add an option to disable the CO2 sensor? It seems to be pretty unreliable because the CO2 is only calculated (not measured) and seems to rely on the VOC for calculating the CO2. I find the red warnings in Home App and notifications not very useful. Too many false alarms because it's not a real CO2 sensor, at least in the 680i.

[2022-07-27 15:50] frictionlessDevelopments commented on #6
Hello, I have a BlueAir 7470i as well, I was able to have it appear on my homebridge.
Browsing through the platform.ts it seems like support for 7470i has been added.

https://github.com/fjs21/homebridge-blueair/blob/89d17e25fb04b71345c8f047b0ab308b08421e09/src/platform.ts#L335

However, on the Home App, it identifies itself as a DustProtect.

Do let me know if I can provide any information to hel

[2022-07-28 15:35] w194 opened #95 "VOC measurement in Home app is probably wrong"
Hello there,
I compared with an *Eve Room* HomeKit device and the value displayed from the BlueAir 680i is around 10 times higher.

Eve Room: 59 µg/m³
BlueAir 680i: 589 µg/m³

[2022-08-02 18:58] fjs21 commented on #95
I'll check at my end. Just to confirm. So the second value (589) comes from the BlueAir app and the Eve and Home app value is 10x less?

[2022-08-02 18:59] fjs21 commented on #91
I'll have to look into that as it will require a new approach. May take some time.

[2022-08-02 18:59] #68 closed

[2022-08-02 19:06] fjs21 commented on #6
The Model text is hardcoded into the Accessory code as 'DustProtect'. So that's not a major concern. The accessory running both is the same.

The accessory supports NightMode as a switch, GermShield as a switch, but I don't see any mention of a temp sensor.

@jonato1 has been providing support for the Amazon AWS API based devices as I do not own one of these.

[2022-08-03 21:15] jonato1 commented on #6
@frictionlessDevelopments i can work on trying to fix the hard coded reference to "DustProtect".

For your other notes, nightmode should be supported as an on/off switch in HomeKit.

The temp and humidity sensors are not something I ever added as I didn't have insight into the code they returned. When I get some time later this week, I can send some questions over to you that should help narrow th

[2022-08-11 03:34] jonato1 commented on #6
@frictionlessDevelopments Can you confirm that you were able to utilize nightmode? Also, for the temp and humidity sensors, can you do the following to assist?

1. If needed, download and install Postman.
2. Import this collection [here](https://www.getpostman.com/collections/9f7153170757ec6e2f19).
3. In the collection variables, enter your username and password.
4. Run the commands in order until

[2022-08-16 13:21] frictionlessDevelopments commented on #6
@jonato1 hey jon, could share with me how does the night mode toggle look like? This is what I'm looking at when I load up my home.app. Thanks for looking into this.

Home.app, Purifier tile
![Screen Shot 2022-08-16 at 21 16 33](https://user-images.githubusercontent.com/11416495/184889557-14061427-876d-4e63-a864-3d1f1b6558ff.png)

Home.app -> Purifier tile -> Purifier -> Settings

![Screen Shot 20

[2022-08-17 04:36] jonato1 commented on #6
@fjs21 Can you review my latest commits and publish a release at your earliest convenience?

@frictionlessDevelopments  The nightmode switch should show up as a separate on/off switch just like GermShield. Can you enable debugging logging on your Homebridge and see if you see any errors or logs containing the keyword "nightmare"?

Thanks,
Jon

[2022-08-17 12:31] frictionlessDevelopments commented on #6
Hey @jonato1 I downloaded the new update and enabled debug log. I can now see the temperature and humidity sensors.

There's no keyword "nightmare". If my understanding of the log is correct, it's able to detect the nightmode state but the tile is not created on the home.app.

[code]

I cleaned up the log a little to show only blueair related information.
https://gist.github.com/frictionlessDevelo

[2022-08-18 15:37] jonato1 commented on #6
HI @frictionlessDevelopments - That is good news on the sensors! Do the readings in Home.app seem to match what you see in the Blueair app? If so, I think we should be good there.

As for my last message, I meant to say "nightmode", but alas - autocorrect. The logs are helpful, so thank you for those. I may need to dig into this one a bit more. I agree that the code is returning an Accessory State

[2022-08-21 05:44] frictionlessDevelopments commented on #6
Hey @jonato1 Yes the sensor readings on the Home App matches those with the Blueair App. Everything is working as expected. Thank you very much for your help!

![homeAppPurifier](https://user-images.githubusercontent.com/11416495/185777396-192962a0-a460-4acf-9aa8-759de4991080.jpg)

[2022-09-25 03:46] relrelway opened #136 "[Feature Request] Memorizing the fan speed"
Hi! Here with a feature request - what if we memorize the fan speed before turning the air purifier off and instead of turning it into auto when turning on, we set auto to off and set to the previous fan speed

[2022-10-11 08:48] tkundhi commented on #1
Hi Jon, I imported and successfully ran the collection. It reports back a
device. I've saved the Get Devices and Get State responses. Let me know if
you need them. All the Service requests came back as "Success"

Thanks for making it easy to test locally. I don't use Postman regularly
and didn't keep notes on how I set it up to do my previous tests, so I
haven't had time to go back and reconfigure